<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
	</grants>
	<actions>
		<!-- 관리자 액션 -->
		<action name="dispEasy_manageAdminConfig" class="Controllers\Admin" menu-name="easy_manage" admin-index="true" />
		<action name="procEasy_manageAdminInsertConfig" class="Controllers\Admin" />
		<!-- 메인 화면 예제 -->
		<action name="dispEasy_manageIndex" class="Controllers\Index" index="true" />
		<!-- 글읽기 화면 예제 -->
		<action name="dispEasy_manageRead" class="Controllers\Read" route="read/$item_srl" />
		<!-- 글쓰기 화면 예제 -->
		<action name="dispEasy_manageWrite" class="Controllers\Write">
			<route route="write" />
			<route route="edit/$item_srl" />
		</action>
		<!-- 글쓰기 POST 액션 예제 -->
		<action name="procEasy_manageWrite" class="Controllers\Write" permission="member" />
	</actions>
	<!-- 이벤트 핸들러 (트리거) 선언 -->
	<eventHandlers>
		<eventHandler after="document.insertDocument" class="Controllers\EventHandlers" method="afterInsertDocument" />
		<eventHandler after="document.updateDocument" class="Controllers\EventHandlers" method="afterUpdateDocument" />
		<eventHandler after="document.deleteDocument" class="Controllers\EventHandlers" method="afterDeleteDocument" />
	</eventHandlers>
	<menus>
		<menu name="easy_manage" type="all">
			<title xml:lang="ko">운영도우미</title>
		</menu>
	</menus>
</module>
