<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
	</grants>
	<actions>
		<action name="dispEasyManageAdminConfig" class="Controllers\Admin" menu-name="easy_manage" admin-index="true" />
		<action name="procEasyManageAdminInsertConfig" class="Controllers\Admin" />
	</actions>
	<eventHandlers>
		
	</eventHandlers>
	<menus>
		<menu name="easy_manage" type="all">
			<title xml:lang="ko">운영도우미</title>
		</menu>
	</menus>
</module>
